[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyyaml = "*"
dj-database-url = "*"
fitparse = "*"
python-dateutil = "*"
"srtm.py" = "*"
"activity.py" = "==0.1b2"
thttp = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
