{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=700, initial-scale=1.0" />
    <meta name="description" content="" />
    <title>Nice Run!</title>

    <!-- Base styles with simple.css -->
    <link rel="stylesheet" href="{% static 'css/simple.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Mapbox -->
    <script src="{% static 'js/mapbox-gl.js' %}"></script>
    <link
      href="{% static 'css/mapbox-gl.css' %}"
      rel="stylesheet"
    />

    <!-- Chart.js -->
    <script src="{% static 'js/chart.js' %}"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=ibm-plex-sans:400,600,700" rel="stylesheet" />

    <script src="{% static 'js/html2canvas.js' %}"></script>
    <script src="{% static 'js/canvas2image.js' %}"></script>
    <script src="{% static 'js/quicksettings.js' %}"></script>
   </head>
  <body>
    <header>
      <h1>Nice Run!</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
      Thrown together by <a href="https://brntn.me">Brenton Cleeland</a>. <a href="/privacy/">Privacy</a>. <a href="https://github.com/sesh/nicerun">Open Source</a>.
    </footer>
  </body>
</html>
