{% extends 'base.html' %}
{% block content%}
<section class="about">
    <p>
        Nice Run! helps you generate an image for a run (or ride, walk, ski, or really any GPS-based activity) that you can share (see an example).
    </p>
    <p>
        Start by uploading a FIT or GPX from your device. You can export these from Strava or Garmin Connect easily.
    </p>
</section>

<section>
    <form method="post" enctype="multipart/form-data">
        <p>
            <label for="file">Choose an activity file</label>
            <input type="file" id="file" name="file" />
        </p>
        <p>
            <label for="name">Activity name</label>
            <input type="text" id="name" name="name" />
        </p>

        <p>
            <input type="submit" value="Upload Run" />
        </p>

        {% csrf_token %}
    </form>
</section>
<script>
  Dropzone.discover();
</script>
{% endblock %}
