{% extends 'base.html' %} {% load static %} {% block content %}
<section class="run-wrapper">
  <div class="run">
    <div class="header">
      <h3 id="name"></h3>
      <div class="flex" id="stats"></div>
    </div>
    <div id="map" style="width: 100%; height: 550px"></div>
    <div id="pace-chart-wrapper" class="chart">
      <div style="height: 100px">
        <canvas id="splits"></canvas>
      </div>
      <!-- Could be a caption? -->
      <p id="chart-title" class="title"></p>
      <p id="chart-subtitle" class="subtitle"></p>
    </div>

    <div id="elevation-chart-wrapper" class="chart">
      <div style="height: 100px">
        <canvas id="elevation-chart"></canvas>
      </div>
      <!-- Could be a caption? -->
      <p id="elevation-chart-title" class="title"></p>
      <p id="elevation-chart-subtitle" class="subtitle"></p>
    </div>
  </div>
</section>

<section>
  <input id="download" type="button" value="Download" />
</section>

<section>
  <details>
    <summary>Customise</summary>
    <div class="controls">
      <div>
          <p class="space-bottom">
            <label for="enter-map-crop">Map Crop (from start and end)</label>
            <input type="number" id="enter-map-crop">
          </p>

        <p>
          <label>
            <input type="checkbox" id="toggle-distance" />
            Show Distance
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" id="toggle-pace" />
            Show Pace
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" id="toggle-duration" />
            Show Duration
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" id="toggle-elevation" />
            Show Elevation
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" id="toggle-pace-chart" />
            Show Pace Chart
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" id="toggle-elevation-chart" />
            Show Elevation Chart
          </label>
        </p>
      </div>

      <div>
        <p>
          <label for="select-map-type">Map Style</label>
          <select id="select-map-type">
            <option value="Mapbox Streets">Mapbox Streets</option>
            <option value="Mapbox Outdoors">Mapbox Outdoors</option>
            <option value="Mapbox Light">Mapbox Light</option>
            <option value="Mapbox Dark">Mapbox Dark</option>
            <option value="Mapbox Satellite">Mapbox Satellite</option>
            <option value="Mapbox Satellite Streets">Mapbox Satellite Streets</option>
          </select>
        </p>
        <p>
          <label for="choose-line-color">Map Line Colour</label>
          <input type="color" id="choose-line-color">
        </p>
        <p>
          <label for="choose-pace-chart-color">Pace Chart Colour</label>
          <input type="color" id="choose-pace-chart-color">
        </p>
        <p>
          <label for="choose-elevation-chart-color">Elevation Chart Colour</label>
          <input type="color" id="choose-elevation-chart-color">
        </p>

        <p>
          <label for="enter-pace-chart-split-duration">Pace Chart Split Duration</label>
          <input type="number" id="enter-pace-chart-split-duration">
        </p>
      </div>
    </div>
  </details>
</section>

<section>
  <svg class="theme-picker" width="180px" height="40px" viewBox="0 0 180 40" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <rect fill="#282a36" x="0" y="0" width="180" height="40"></rect>
    <circle fill="#FF5555" cx="15" cy="20" r="8"></circle>
    <circle fill="#50FA7B" cx="40" cy="20" r="8"></circle>
    <circle fill="#F1FA8C" cx="65" cy="20" r="8"></circle>
    <circle fill="#BD93F9" cx="90" cy="20" r="8"></circle>
    <circle fill="#FF79C6" cx="115" cy="20" r="8"></circle>
    <circle fill="#8BE9FD" cx="140" cy="20" r="8"></circle>
    <circle fill="#F8F8F2" cx="165" cy="20" r="8"></circle>
  </svg>
</section>
<script>
  let run = {{ activity_json|safe }};
</script>

<script>
  const mapboxStyles = new Map([
    ["Mapbox Streets", "mapbox://styles/mapbox/streets-v12"],
    ["Mapbox Outdoors", "mapbox://styles/mapbox/outdoors-v12"],
    ["Mapbox Light", "mapbox://styles/mapbox/light-v11"],
    ["Mapbox Dark", "mapbox://styles/mapbox/dark-v11"],
    ["Mapbox Satellite", "mapbox://styles/mapbox/satellite-v9"],
    [
      "Mapbox Satellite Streets",
      "mapbox://styles/mapbox/satellite-streets-v12",
    ],
  ]);

  /* Nice Run, configuration */
  let MAP_STYLE_NAME = "Mapbox Streets";
  let MAP_STYLE = mapboxStyles.get(MAP_STYLE_NAME);

  let MAP_CROP = 200;
  let MAP_LINE_COLOUR = "#fa5252";

  let PACE_CHART_SPLIT_DURATION = Math.floor(run.clock_values.length / 50 / 10) * 10; // time in seconds
  let PACE_CHART_COLOUR = "#68b2fa";

  let ELEVATION_CHART_COLOUR = "#ced4da";

  let SHOW_DISTANCE = true;
  let SHOW_DURATION = true;
  let SHOW_PACE = true;
  let SHOW_ELEVATION = false;

  let SHOW_PACE_CHART = true;
  let SHOW_ELEVATION_CHART = true;
</script>

<script>
  function setupControlAndTrackChanges(elementId, initialValue, callback) {
    let el = document.getElementById(elementId);
    let inputType = el.type || "unknown";
    let tagName = el.tagName;

    console.log(elementId, el, inputType);

    if (inputType == "checkbox") {
      el.checked = initialValue;
      el.onchange = (e) => callback(e.target.checked);
    } else if (tagName == "SELECT") {
      el.value = initialValue;
      el.onchange = (e) => callback(e.target.value);
    } else if (inputType == "color" || inputType == "number") {
      el.value = initialValue;
      el.onchange = (e) => callback(e.target.value);
    }
  }

  function initControls() {

    setupControlAndTrackChanges("toggle-distance", SHOW_DISTANCE, (value) => {
      SHOW_DISTANCE = value;
      initStats();
    });
    setupControlAndTrackChanges("toggle-pace", SHOW_PACE, (value) => {
      SHOW_PACE = value;
      initStats();
    });
    setupControlAndTrackChanges("toggle-duration", SHOW_DURATION, (value) => {
      SHOW_DURATION = value;
      initStats();
    });
    setupControlAndTrackChanges("toggle-elevation", SHOW_ELEVATION, (value) => {
      SHOW_ELEVATION = value;
      initStats();
    });
    setupControlAndTrackChanges("toggle-pace-chart", SHOW_PACE_CHART, (value) => {
      console.log("here!" + value);
      SHOW_PACE_CHART = value;
      initChart();
    });

    setupControlAndTrackChanges("toggle-elevation-chart", SHOW_ELEVATION_CHART, (value) => {
      SHOW_ELEVATION_CHART = value;
      initElevationChart();
    });

    setupControlAndTrackChanges("select-map-type", MAP_STYLE_NAME, (value) => {
      MAP_STYLE_NAME = value;
      MAP_STYLE = mapboxStyles.get(MAP_STYLE_NAME);
      initMap();
    });

    setupControlAndTrackChanges("choose-line-color", MAP_LINE_COLOUR, (value) => {
      MAP_LINE_COLOUR = value;
      initMap();
    });

    setupControlAndTrackChanges("choose-pace-chart-color", PACE_CHART_COLOUR, (value) => {
      PACE_CHART_COLOUR = value;
      initChart();
    });

    setupControlAndTrackChanges("choose-elevation-chart-color", ELEVATION_CHART_COLOUR, (value) => {
      ELEVATION_CHART_COLOUR = value;
      initElevationChart();
    });

    setupControlAndTrackChanges("enter-pace-chart-split-duration", PACE_CHART_SPLIT_DURATION, (value) => {
      PACE_CHART_SPLIT_DURATION = parseInt(value, 10);
      initChart();
    });

    setupControlAndTrackChanges("enter-map-crop", MAP_CROP, (value) => {
      MAP_CROP = parseInt(value, 10);
      initMap();
    });
  }

  initControls();
</script>

<script>
  function findParentNode(el, tagName) {
    while (true) {
      if (el.tagName == undefined) {
        return;
      } else if (el.tagName.toLowerCase() == tagName.toLowerCase()) {
        return el;
      }
      el = el.parentNode;
    }
  }
  document.querySelector('svg').onclick = (e) => {
    let svgNode = findParentNode(e.target, 'svg');
    let background = svgNode.querySelector("rect").attributes.fill.value;
    let foreground = svgNode.querySelectorAll("circle")[6].attributes.fill.value;

    var r = document.querySelector(':root');
    r.style.setProperty('--blue', 'lightblue');

    r.style.setProperty('--page-bg', svgNode.querySelectorAll("circle")[0].attributes.fill.value);
    r.style.setProperty('--run-bg', svgNode.querySelectorAll("circle")[1].attributes.fill.value);
    r.style.setProperty('--run-border', svgNode.querySelectorAll("circle")[2].attributes.fill.value);
    r.style.setProperty('--run-shadow', svgNode.querySelectorAll("circle")[3].attributes.fill.value);
    r.style.setProperty('--run-text', svgNode.querySelectorAll("circle")[4].attributes.fill.value);
    r.style.setProperty('--stat-border', svgNode.querySelectorAll("circle")[4].attributes.fill.value);

    MAP_LINE_COLOUR = svgNode.querySelectorAll("circle")[5].attributes.fill.value;
    PACE_CHART_COLOUR = svgNode.querySelectorAll("circle")[6].attributes.fill.value;

    initChart();
    initMap();
    initControls();
  }
</script>
<script src="{% static 'js/run.js' %}"></script>
{% endblock %}
