{% extends 'base.html' %} {% load static %} {% block content %}
<section class="run-wrapper">
  <div class="run">
    <div class="header">
      <h3 id="name"></h3>
      <div class="flex" id="stats"></div>
    </div>
    <div id="map" style="width: 100%; height: 550px"></div>
    <div id="pace-chart">
      <div style="height: 100px">
        <canvas id="splits"></canvas>
      </div>
      <!-- Could be a caption? -->
      <p id="chart-title"></p>
      <p id="chart-subtitle"></p>
    </div>
  </div>
</section>

<section>
  <input id="download" type="button" value="Download" />
</section>

<script>
  let run = {{ activity_json|safe }};
</script>

<script>
  const mapboxStyles = new Map([
    ["Mapbox Streets", "mapbox://styles/mapbox/streets-v12"],
    ["Mapbox Outdoors", "mapbox://styles/mapbox/outdoors-v12"],
    ["Mapbox Light", "mapbox://styles/mapbox/light-v11"],
    ["Mapbox Dark", "mapbox://styles/mapbox/dark-v11"],
    ["Mapbox Satellite", "mapbox://styles/mapbox/satellite-v9"],
    [
      "Mapbox Satellite Streets",
      "mapbox://styles/mapbox/satellite-streets-v12",
    ],
  ]);

  /* Nice Run, configuration */
  let MAP_STYLE_NAME = "Mapbox Streets";
  let MAP_STYLE = mapboxStyles.get(MAP_STYLE_NAME);

  let MAP_CROP = 200;
  let MAP_LINE_COLOUR = "#fa5252";

  let CHART_SPLIT_DURATION = Math.floor(run.clock_values.length / 50 / 10) * 10;  // time in seconds
  let CHART_COLOUR = "#68b2fa";

  let SHOW_DISTANCE = true;
  let SHOW_DURATION = true;
  let SHOW_PACE = true;
  let SHOW_ELEVATION = false;

  let SHOW_PACE_CHART = true;
</script>

<script src="{% static 'js/run.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/quicksettings@latest/quicksettings.min.js"></script>
<script>
  let settings = QuickSettings.create(
    getWidth() - 280,
    document.querySelector(".run").offsetTop,
    "Nice Run!"
  );

  settings
    .setWidth(240)
    .addBoolean("Show Distance", SHOW_DISTANCE, function (value) {
      SHOW_DISTANCE = value;
      initStats();
    })
    .addBoolean("Show Pace", SHOW_PACE, function (value) {
      SHOW_PACE = value;
      initStats();
    })
    .addBoolean("Show Duration", SHOW_DURATION, function (value) {
      SHOW_DURATION = value;
      initStats();
    })
    .addBoolean("Show Elevation", SHOW_ELEVATION, function (value) {
      SHOW_ELEVATION = value;
      initStats();
    })
    .addBoolean("Show Pace Chart", SHOW_PACE_CHART, function (value) {
      SHOW_PACE_CHART = value;
      initChart();
    })
    .addDropDown(
      "Map Style",
      new Array(...mapboxStyles.keys()),
      function (value) {
        MAP_STYLE_NAME = value.value;
        MAP_STYLE = mapboxStyles.get(MAP_STYLE_NAME);
        initMap();
      }
    )
    .addColor("Map Line Colour", MAP_LINE_COLOUR, function (value) {
      MAP_LINE_COLOUR = value;
      initMap();
    })
    .addNumber(
      "Map Crop (from start and end)",
      0,
      1000,
      MAP_CROP,
      50,
      function (value) {
        MAP_CROP = value;
        initMap();
      }
    )
    .addColor("Chart Colour", CHART_COLOUR, function (value) {
      CHART_COLOUR = value;
      initChart();
    })
    .addNumber(
      "Chart Split Duration",
      15,
      300,
      CHART_SPLIT_DURATION,
      15,
      function (value) {
        CHART_SPLIT_DURATION = value;
        initChart();
      }
    );
</script>
{% endblock %}
